@use 'src/shared/styles/mixins' as mixin;

.root {
  @include mixin.flex($justify: space-between, $align: center);

  .title {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.4rem;
    color: var(--color-light-100);
  }

  .controls {
    @include mixin.flex($align: center);
  }

  .control {
    cursor: pointer;

    width: 3.6rem;
    height: 3.6rem;

    background-color: var(--color-dark-100);
    border: none;
    border-radius: 50%;

    transition: background-color 0.2s ease;

    &:hover {
      background-color: var(--color-dark-300);
    }
  }
}
