
.error {
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: var(--color-danger-500);

  & a {
    color: var(--color-danger-500);
  }
}

.link{
  text-decoration: red underline;
}

.dateInputWithError {
  margin-bottom: -2rem;
}