@use 'src/shared/styles/mixins' as mixin;

.root {
  @include mixin.flex;
  @include mixin.container;

  position: relative;
}

.navBar {
  position: sticky;
  z-index: 1;
  top: 6rem;

  overflow-x: hidden;

  min-width: 16rem;
  height: calc(100vh - 6rem);
  padding-top: 7.2rem;

  border-right: solid 1px var(--color-dark-300);
}

.main {
  width: 100%;

  /*  margin-left: 16rem; */
  padding: 2.4rem;
}
