@use 'src/shared/styles/mixins' as mixin;

.root {
  @include mixin.flex;
  @include mixin.container;

  position: relative;
}


.navBar {
  position: sticky;
  z-index: 1;
  top: 6rem;

  overflow-x: hidden;

  width: 16rem;
  height: 100%;
  padding-top: 7.2rem;

}

.main {
  width: 100%;
  margin-top: 6.5rem;
  margin-left: 16rem;
  padding: 2.4rem;
}