@use 'src/shared/styles/mixins' as mixin;

.root {
  @include mixin.flex($direction: column);

  padding: 3rem 2.4rem 3.6rem;
}

.text {
  margin-bottom: 1.8rem;
}

.closeButton {
  margin-left: auto;
  padding: 0.6rem 3.2rem;
}
