@use 'src/shared/styles/mixins' as mixin;

.root {
  @include mixin.flex($align: center, $justify: center, $direction: column);

  .title {
    margin-bottom: 2rem;
  }

  .text {
    margin-bottom: 5.4rem;
  }

  .link {
    width: 18.2rem;
    margin-bottom: 7.2rem;
  }

  .imageWrapper {
    width: 43.2rem;
    height: 30rem;
  }
}
