@use 'src/shared/styles/mixins' as mixin;

.form {
  @include mixin.flex($direction: column, $gap: 2.4rem);

  position: relative;
  width: 100%;

  .selectWrapper {
    @include mixin.flex($gap: 2.4rem);

    .select {
      flex: 1 1 100%;
    }
  }

  .submitButton {
    position: absolute;
    right: 0;
    bottom: -7.2rem;
  }
}
