@use 'src/shared/styles/mixins' as mixin;

.rootGeneral {
  @include mixin.flex($gap: 4rem);

  margin: 2.4rem 0;
  padding-bottom: 2.4rem;
  border-bottom: solid 1px var(--color-dark-300);

  .profilePhoto {
    margin-top: 2.4rem;
  }
}
