@use 'src/shared/styles/mixins' as mixin;

.trigger {
  @include mixin.flex($align: center, $justify: space-between, $gap: 2.4rem);
  @include mixin.font($size: 1.6rem, $weight: 400, $height: 2.4rem);

  pointer-events: auto;

  box-sizing: border-box;
  padding: 0.6rem 1.2rem;

  color: var(--color-light-100);

  background-color: transparent;
  border: solid 1px var(--color-dark-100);
  border-radius: 2px;

  transition: color 0.2s ease;

  &:hover {
    color: var(--color-light-900);
  }

  &:focus {
    color: var(--color-light-900);
    border-color: var(--color-accent-500);
    outline: solid 1px var(--color-accent-500);
  }

  & .icon {
    @include mixin.flex($align: center, $justify: center);

    cursor: pointer;
    color: var(--color-light-100);
    transition: transform 0.3s ease;
  }

  &[data-state='open'] {
    cursor: initial;
    background-color: var(--color-dark-500);
    border: solid 1px var(--color-light-100);
    border-radius: 2px 2px 0 0;
  }

  &[data-state='open'] .icon {
    transform: rotate(180deg);
  }

  &[data-disabled] .icon {
    cursor: auto;
  }

  &[data-disabled] {
    cursor: auto;
    color: var(--color-dark-100);
    border-color: var(--color-dark-100);
  }
}

.trigger > span {
  @include mixin.flex($align: center, $gap: 1.2rem);
}

.content {
  z-index: 101;
  width: var(--radix-select-trigger-width);
  border: solid 1px var(--color-dark-100);
  border-radius: 2px;

  &[data-state='open'] {
    background-color: var(--color-dark-500);
    border: solid 1px var(--color-light-100);
    border-top: none;
    border-radius: 0 0 2px 2px;
  }
}

.label {
  @include mixin.font($size: 1.4rem, $weight: 400, $height: 2.4rem);

  color: var(--color-light-900);
}
