@mixin button {
  all: unset;

  cursor: pointer;
  user-select: none;

  display: inline-flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  padding: 0.6rem 2.4rem;

  font-size: var(--font-size-s);
  font-weight: var(--font-weight-semi-bold);
  line-height: var(--line-height-m);
  text-align: center;
  text-decoration: none;

  background-color: transparent;
  border: none;
  border-radius: 4px;

  transition: all 0.2s ease-in-out;

  &:focus-visible {
    outline: 2px solid var(--color-accent-700);
  }

  &:disabled {
    cursor: auto;
  }
}

@mixin typography($fontSize, $lineHeight, $fontWeight) {
  margin: 0;

  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  color: var(--color-light-100);
}

@mixin flex($direction: row, $justify: flex-start, $align: stretch, $gap: 0, $wrap: nowrap) {
  display: flex;
  flex-flow: $direction $wrap;
  flex-wrap: $wrap;
  gap: $gap;
  align-items: $align;
  justify-content: $justify;
}

@mixin input-icon($left, $right) {
  @include flex($align: center);

  cursor: pointer;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 2rem;
  height: 2rem;
  padding: 0;

  color: var(--color-light-100);

  background: transparent;
  border: none;

  @if $right != 0 {
    right: $right;
  }

  @if $left != 0 {
    left: $left;
  }
}

@mixin font($size, $weight: 400, $style: normal, $height: 2.4rem) {
  font-size: $size;
  font-weight: $weight;
  font-style: $style;
  line-height: $height;
}

@mixin container {
  width: 100%;
  max-width: 118rem;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

@mixin main {
  min-height: calc(100vh - 6rem);
}

@mixin icon-button {
  gap: 12px;
  justify-content: flex-start;

  padding: 0;

  font-size: 14px;
  font-weight: 500;

  background: transparent;

  transition: color 0.2s ease;

  &:hover {
    color: var(--color-accent-100);
    background-color: transparent;
  }

  &.active {
    font-weight: 700;
    color: var(--color-accent-500);
  }
}

@mixin scroll-container($height: 36rem) {
  scrollbar-width: thin;
  position: relative;
  overflow: hidden auto;
  max-height: $height;

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    background: var(--color-dark-300);
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-color: var(--color-dark-100);
    border-radius: 2px;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: var(--color-light-900);
    }
  }
}
