@use 'src/shared/styles/mixins' as mixin;

.form {
  @include mixin.flex($direction: column);

  .formInput {
    margin-bottom: 2.4rem;

    &:nth-child(4){
      margin-bottom: 2rem;
    }

     &.formInputWithError {
        margin-bottom: 0;

      &:nth-child(4) {
        margin-bottom: 2rem;
      }
    }
  }
}

.checkboxWrapper {
  @include mixin.flex($gap: 1rem);

  margin-bottom: 2.2rem;
  padding-left: 0.9rem;
}
