@use 'src/shared/styles/mixins' as mixin;

.link {
  @include mixin.flex($align: center, $gap: 1.2rem);

  display: inline-flex;
  color: var(--color-light-100);
  transition: color 0.2s ease;

  &:hover {
    color: var(--color-accent-100);
  }

  &:focus-visible {
    border-radius: 2px;
    outline: 2px solid var(--color-accent-700);
  }

  .title {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.4rem;
    color: var(--color-light-100);

    transition: color 0.2s ease;

    &:hover {
      color: var(--color-accent-100);
    }
  }
}

.activeLink {
  &,
  &:hover {
    color: var(--color-accent-500);
  }

  .activeTitle,
  & .activeTitle:hover {
    font-weight: 700;
    color: var(--color-accent-500);
  }
}

.disabledLink {
  cursor: auto;

  &,
  &:hover {
    color: var(--color-dark-100);
  }

  &:focus-visible {
    outline: none;
  }

  .disabledTitle,
  & .disabledTitle:hover {
    cursor: default;
    color: var(--color-dark-100);
  }
}
