@use 'src/shared/styles/mixins' as mixin;

.trigger {
  all: unset;
  cursor: pointer;
  display: inline-flex;
  box-sizing: border-box;

  &[data-state='open'] {
    color: var(--color-accent-500);
  }
}

.content {
  max-width: 33.5rem;
  padding: 1.2rem;

  background-color: var(--color-dark-500);
  border: solid 1px var(--color-dark-100);
  border-radius: 4px;

  .arrow {
    position: relative;
    top: -5px;
    transform: rotate(45deg);

    box-sizing: border-box;
    width: 0.9rem;
    height: 0.9rem;

    background-color: var(--color-dark-500);
    border: solid 1px var(--color-dark-100);
    border-top: none;
    border-left: none;
  }

  .dropDownTitle {
    @include mixin.font($size: 1.6rem);

    display: block;
    margin: 0.4rem 0.4rem 1.2rem;
  }

  .scrollContainer {
    scrollbar-width: thin;
    position: relative;
    overflow: hidden auto;
    max-height: 36rem;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      background: var(--color-dark-300);
      border-radius: 2px;
    }

    &::-webkit-scrollbar-thumb {
      cursor: pointer;
      background-color: var(--color-dark-100);
      border-radius: 2px;

      &:hover {
        background-color: var(--color-light-900);
      }
    }
  }

  .containerWithTitle {
    margin: 0 -0.4rem 0 0;
    padding-right: 0.8rem;
  }
}
