@use 'src/shared/styles/mixins' as mixin;

.trigger {
  @include mixin.flex($justify: center, $align: center);

  cursor: pointer;
  user-select: none;

  overflow: hidden;

  padding: 0.6rem 2.4rem;

  font-size: 1rem;
  font-weight: 600;
  line-height: 2.4rem;
  color: var(--color-accent-500);

  background-color: transparent;
  border: none;
  border-bottom: solid 2px var(--color-accent-500);

  transition: background-color 0.2s ease-out;

  &:hover {
    background-color: rgba(#234e99, 0.25);
  }

  &:first-child {
    border-top-left-radius: 2px;
  }

  &:last-child {
    border-top-right-radius: 2px;
  }

  &[data-state='active'] {
    background-color: rgba(#73a5ff, 0.2);
  }

  &:focus-visible {
    border-radius: 2px;
    outline: solid 2px var(--color-accent-700);
  }

  &:disabled {
    cursor: auto;
    color: var(--color-accent-900);
    background-color: transparent;
    border-bottom: solid 2px var(--color-accent-900);
  }
}
