@use '../../../../shared/styles/mixins' as mixin;

.form {
  @include mixin.flex($direction: column, $align: center);

  .formInput {
    margin-bottom: 1rem;
  }

  .formInputWithError {
    margin-bottom: 0;
  }

  .instructionText {
    margin-bottom: 2rem;
    color: var(--color-light-900);
  }

  .instructionTextAfterSendLink {
    width: 100%;
    margin-bottom: 2.4rem;
    white-space: pre-wrap;
  }

  .sendActionButton {
    margin-bottom: 2.4rem;
  }

  .link {
    margin-bottom: 2.4rem;
    padding: 0.6rem 0;
  }

  .recaptcha > div > div {
    display: flex;
    place-content: center;
  }
}
